/* Phones */
@media (max-width: 600px) {

    .main-content-container {
        padding: 20px;
    }
}

/* Desktop */
@media (min-width: 600px) {
    .main-content-container {
        display: flex;
        padding: 60px 20px;
        width: 60%;
    }

    .bottom-container {
        display: flex;
    }

    .button {
        max-width: 280px;
    }
}

.main-content-container {
    max-width: 900px;
    margin: auto;
}

.main-content-image-container {
    position: relative;
    flex: 1;
}

.main-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content-copy-container {
    flex: 1;
    margin: 20px;
}

.copy {
    text-align: justify;
}

.button {
    width: 100%;
    border-radius: 0;
    background-color: white;
    padding: 14px 40px;
    color: #c97f7f;
    border-radius: 2px;
    border: 2px solid #c97f7f;
    justify-self: center;
    font-size: 22px;
}

.image-container-1 {
    background-color: #b176de;
}

.image-container-2 {
    background-color: #8bde85;
}

.image-container-bg {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottom-container {
    margin: 0;
    padding: 0;
}

.bottom-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    opacity: 0.4;
    vertical-align: bottom;
}

.top-img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.top-img-text h4 {
    font-size: 18px;
    color: white;
}

.bottom-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;
}

h3 {
    color: gray;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 36px;
}

h4 {
    color: gray;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
}

p {
    color: gray;
    font-family: sans-serif;
    font-weight: 400;
}